*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 1.1em;
  font-weight: 400;
}
.firstsection{
  height: 100vh;
background-image: url(/images/firstdownload.jpg);
background-size: cover;

}

.aboutus{
  height: 40vh;
}

.services{
  background-image: url(/images/midlaptop.jpg);
  height: 50vh;
  background-size: cover;
}

.contactus{
  background-image: url(/images/contact.jpg);
  height: 70vh;
  background-size: cover;
}

input{
  background-color: transparent;
  width: 30vw;
border-color: aliceblue;
}

textarea{
  width: 50vw;
  background-color: transparent;
  border-color: aliceblue;
}
::placeholder{
  color: white;
}

.icons{
  width: 95vw;
  
}

 /* DESIGN */
.design{
  display: none;
}

.kiki{
  cursor: pointer;
}

.kiki:hover{
  color: blue;
}



/* DEVELOPMENT */

.dvlp{
  display: none;
}

.development{
  cursor: pointer;
}

.development:hover{
  color: blue;
}


/* PRODUCT MANAGEMENT */

.product{
  display: none;
}

.management{
  cursor: pointer;
}

.management:hover{
  color: blue;
}

/* RESULTS BOARD */

#para{
  font-size: 2em;

}



  /* HOVER STYLING */
.boat-title{
  border-style:solid ;
  border-color: white;
  position: absolute;
  top: 8%;
  left: 20%;
  height: 80%;
  width: 60%;
  text-align: center;
  /*opacity: 0;*/
  display: none; 
  background-color:black;
  color: black;

}

.boat-title h3{
  position: absolute;
      color:white;
      font-weight: bolder;
      top: 33%;
      width: 100%;
      text-align: center;
      font-size: 2em;


}


.scale-item:hover .boat-title {
  opacity:0.6;
}


/* .scale-item:hover h3{
  color: blue;
  opacity:1,3;
} */