*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.firstsection{
  height: 100vh;
  width: 100vw;
background-image: url(/images/firstdownload.jpg);

}

.aboutus{
  height: 40vh;
}

.services{
  background-image: url(/images/midlaptop.jpg);
  height: 50vh;
}

.contactus{
  background-image: url(/images/contact.jpg);
  height: 70vh;
  background-size: cover;
}